<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DesafioUmbler</title>

    <environment include="Development">        
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700'>
        <link rel="stylesheet" href="https://static.umbler.com/umbootstrap/themes/umbler-site/dist/css/theme.min.css?v=1">
        <link rel='stylesheet' href="https://www.umbler.com/css/main.css?v=jzpPQTjVBwhK2gEOpAg6ZpvjUUQgKLsFVwwlRGnOZHY">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://static.umbler.com/umbootstrap/themes/umbler-site/dist/css/theme.min.css?v=1">
        <link rel='stylesheet' href="https://www.umbler.com/css/main.css?v=jzpPQTjVBwhK2gEOpAg6ZpvjUUQgKLsFVwwlRGnOZHY">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="site-header">
        <div class="container">
            <a class="logo-link" href="/">
                <img src="~/assets/tpl/logotipo.png" alt="Umbler Logo" class="umbler-logo" />
            </a>
        </div>
    </header>

    <main class="main-content">
        @RenderBody()
    </main>
    
    <footer class="site-footer-minimal">
        <div class="container">
            <div class="footer-copyright-minimal">
                <p>&copy; @DateTime.Now.Year Umbler, Inc. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>
    
    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="_framework/blazor.server.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
